* {
    margin:0;
}

button:hover {
    transition: all 0.5s;
    background: rgba(205, 205, 205, 0.4);
}

button {
    border: 0px;
    background-color: rgba(45,45,45,1);
    color: white;
    width: 100%;
    height: 84px;
    padding: 0px 1.5rem;
    font-size: 24px;
    text-align: left;
    cursor: pointer;
}

.background {
    background-color: black;
    color: white;
    height: 1200px;
    width: 100%;
    
}

.default-ltr-cache-1bzktvf {
    width: 36px;
    height: 36px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    float: right;
    transform: rotate(0);
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.title {
    text-align: center;
    margin:auto;
    max-width: calc(100% - 4rem);
    
}

@media only screen and (min-width: 960px){
    .title {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) {
    .title {
        max-width: calc(100% - 4rem);
    }
}

@media only screen and (min-width: 960px) {
    .title {
        max-width: calc(100% - 4rem);
    }
}

@media only screen and (min-width: 1280px) {
    .title {
        max-width: calc(83.33333% - 6rem);
    }
}

@media only screen and (min-width: 1910px) {
    .title {
        max-width: 65%;
    }
}

.default-ltr-cache-e0ug1a {
    overflow: hidden;
    max-height: 0;
    visibility: collapse;
    max-height: 0;
    padding: 0 1.5rem;
    -webkit-transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    transition: all 0.8s cubic-bezier(0.5, 0, 0.1, 1);
    text-align: left;
    background-color: rgba(45, 45, 45, 1);
    color: rgba(255, 255, 255, 1);
}

.default-ltr-cache-1xe7mbe {
    visibility: visible;
    max-height: 0px;
    padding: 20px 1.5rem;
    transition: all 0.8s cubic-bezier(0.5, 0, 0.1, 1) 0s;
    text-align: left;
    height: 400px;
    background-color: rgb(45, 45, 45, 1);
    color: rgb(255, 255, 255);
}

.default-ltr-cache-1xe7mbe[data-is-open="true"] {
    max-height: 75rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.buttonn {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 2%;
}

.backgroundbutton {
    margin-top: 1px;
    height: 230px;
    background-color: #2d2d2d;
    transition: all 0.4s;
}

.backgroundbutton1 {
    height: 0px;
    transition: all 0.4s;
}

.default-ltr-cache-13srxut {
    width: 36px;
    height: 36px;
    float: right;
    transform: rotate(-45deg);
    flex-shrink: 0;
}

.default-ltr-cache-1bzktvf {
    width: 36px;
    height: 36px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}